html {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

pre, code {
    font-family: 'Courier New', Courier, monospace; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}