$dark-bg-colour: #282838;
html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.centre-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

header,
footer {
    background-color: $dark-bg-colour;
    color: #FFF;
    padding: 2%
}

header {font-size: 4rem;}