html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16rem;
}

.centre-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

header, footer {
    background-color: #335;
    color: #FFF;
}