<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | Paittoni</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
</head>

<body>
<div class="page-wrap">
    <header>
        <div class="centre-wrapper">
            <a class="header-link" href="{{ site.url }}">Paittoni</a>
        </div>
    </header>
    <main>
        <div class="centre-wrapper">
            {{ content }}
        </div>
    </main>
    <footer>
        <div class="centre-wrapper">
            CC-BY Leevi Aaltonen 2019
        </div>
    </footer>
</div>
</body>

</html>
